@import "tailwindcss";
@import "housy-lib/dist/index.css";

/* Theme Colors*/
@import "./theme.css";

@theme {
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-bg-3: var(--bg-3);

  --color-primary: var(--primary);

  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);

  --color-border-1: var(--border-1);
  --color-border-2: var(--border-2);

  --color-shadow-1: var(--shadow-1);

  --color-success: var(--success);

  --font-primary: "Raleway Variable";
}
